=form_tag movies_path, :method => :post do
%table#movies
  %thread
    %tr
       %th Movie's Title
       %th Rating
       %th Release Date
       %th Checkbox select
    %tbody
       @movies.each do |m|
       %tr 
         %td = m[:title]
         %td = m[:rating]
         %td = m[:release_date]
         %td = check_box_tag 'select the movies you like'